In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df5=pd.read_csv('cosmetic.csv')
df5

      Age  Income  Gender MaritalStatus Buys
0     <21    High    Male        Single   No
1     <21    High    Male       Married   No
2   21-35    High    Male        Single  Yes
3     >35  Medium    Male        Single  Yes
4     >35     Low  Female        Single  Yes
5     >35     Low  Female       Married   No
6   21-35     Low  Female       Married  Yes
7     <21  Medium    Male        Single   No
8     <21     Low  Female       Married  Yes
9     >35  Medium  Female        Single  Yes
10    <21  Medium  Female       Married  Yes
11  21-35  Medium    Male       Married  Yes
12  21-35    High  Female        Single  Yes
13    >35  Medium    Male       Married   No

In [ ]:
df5.describe()

        Age  Income Gender MaritalStatus Buys
count    14      14     14            14   14
unique    3       3      2             2    2
top     <21  Medium   Male        Single  Yes
freq      5       6      7             7    9

In [ ]:
df5['Buys'].values

array(['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No'], dtype=object)

In [ ]:
df5['Buys'].value_counts()

Yes    9
No     5
Name: Buys, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

x=df5.iloc[:,:-1]

x=x.apply(le.fit_transform)

print("Age: ",list(zip(df5.iloc[:,0],x.iloc[:,0])))
print("Income",list(zip(df5.iloc[:,1],x.iloc[:,1])))
print("Gender",list(zip(df5.iloc[:,2],x.iloc[:,2])))
print("Marital Status",list(zip(df5.iloc[:,3],x.iloc[:,3])))

Age:  [('<21', 1), ('<21', 1), ('21-35', 0), ('>35', 2), ('>35', 2), ('>35', 2), ('21-35', 0), ('<21', 1), ('<21', 1), ('>35', 2), ('<21', 1), ('21-35', 0), ('21-35', 0), ('>35', 2)]
Income [('High', 0), ('High', 0), ('High', 0), ('Medium', 2), ('Low', 1), ('Low', 1), ('Low', 1), ('Medium', 2), ('Low', 1), ('Medium', 2), ('Medium', 2), ('Medium', 2), ('High', 0), ('Medium', 2)]
Gender [('Male', 1), ('Male', 1), ('Male', 1), ('Male', 1), ('Female', 0), ('Female', 0), ('Female', 0), ('Male', 1), ('Female', 0), ('Female', 0), ('Female', 0), ('Male', 1), ('Female', 0), ('Male', 1)]
Marital Status [('Single', 1), ('Married', 0), ('Single', 1), ('Single', 1), ('Single', 1), ('Married', 0), ('Married', 0), ('Single', 1), ('Married', 0), ('Single', 1), ('Married', 0), ('Married', 0), ('Single', 1), ('Married', 0)]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='gini')
y=df5.iloc[:,-1]
classifier.fit(x,y)

DecisionTreeClassifier()

In [ ]:
y_text=np.array([1,1,0,0])
output=classifier.predict([y_text])
output

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Yes'], dtype=object)